@tailwind base;
@tailwind components;
@tailwind utilities;

html body[data-scroll-locked] {
	overflow-y: scroll !important;
	margin-right: 0px !important;
}

* {
	scroll-behavior: smooth;
	scroll-padding-top: 2rem;
}